<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 empower-buisness">
      <div class="row">
        <div class="col-sm-6">
          <div class="empower-buisness-dia ps-5">
            <h1 class="text-light">Empowering Your Business</h1>
            <h1 class="text-danger">Simplifying Your Sales<span class="text-light">.</span></h1>
            <p class="text-light">Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit
              amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam
              accumsan sollicitudin luctus Nulla tempus quam felis, eu ullamcorper nunc vestibulum eu Nam
              ullamcorper tempus mi sit amet imperdiet In gravida felis velit, vel tempus purus euismod
              vitae Donec.</p>
            <button class="btn rounded-pill px-4 learn-more-btn mt-5">Learn More</button>
          </div>
        </div>
        <div class="col-sm-6 p-0">
          <div class="img-container"><img src="../../assets/man-buying-car.png"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center px-5 pb-4">
    <div class="col-sm-8 choose-trexo-section">
          <div class="choose-trexo mt-4 text-center">
            <h2 class="pb-3">Why Choose <span class="text-danger">Trexo?</span></h2>
            <p class="mb-5 text-center">Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam accumsan sollicitudin luctus Nulla tempus quam felis, eu ullamcorper nunc vestibulum eu Nam ullamcorper tempus mi sit amet imperdiet In gravida felis velit, vel tempus purus euismod vitae Donec.</p>
          </div>
    </div>
    <div class=" col-sm-8 bg-light mt-2 d-flex justify-content-evenly rounded-pill mb-5 py-2">
      <div class="choose-trexo-options"><span class="text-danger"><b>100+</b></span> Serve Cities</div>
      <div class="choose-trexo-options"><span class="text-danger"><b>5L+</b></span> Consumers</div>
      <div class="choose-trexo-options"><span class="text-danger"><b>1Cr+</b></span> Monthly Orders</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 become-seller">
      <div class="row">
        <div class="col-sm-6">
          <div class="img-container pe-4"><img src="../../assets/buisness-buildings.png"></div>
        </div>
        <div class="col-sm-6 become-seller-dia-section">
          <div class="become-seller-dia pe-4 mt-2">
            <h2 class="text-danger pb-3">Become <span class="text-dark"><b>Trexo Seller</b></span><span class="text-light">.</span>
            </h2>
            <p class="pb-4">Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam accumsan sollicitudin luctus Nulla tempus quam felis, eu ullamcorper nunc vestibulum eu Nam ullamcorper tempus mi sit amet imperdiet In gravida felis velit, vel tempus purus euismod vitae Donec. Sed eu massa luctus tempor lacus ac, bibendum urna.</p>
            <button class="btn rounded-pill px-4 view-all-btn mt-5">View All<i class="fas fa-arrow-right ms-2"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row px-5">
    <div class="col-sm-12 finance-offers">
      <div class="row">
        <div class="col-sm-5">
          <div class="finance-offer-dia mt-4 pe-4">
            <h1 class="text-light pb-3">Finance Offers at your <br><span class="text-warning">Finger Tips</span></h1>
            <p class="mb-5">Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam accumsan sollicitudin luctus Nulla tempus quam felis. Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam accumsan sollicitudin luctus Nulla tempus quam felis.</p>
            <button class="btn rounded-pill px-4 team-learn-btn mt-5 mb-4">Learn More</button>
          </div>
        </div>
        <div class="col-sm-7"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row px-5">
    <div class="col-sm-12 start-journey">
      <div class="row">
        <div class="col-sm-5">
          <div class="finance-offer-dia mt-4 text-light">
            <h1 class="pb-3">Start your journey with Trexo</h1>
            <p class="mb-5 pb-5">Sed eu massa luctus, tempor lacus ac, bibendum urna. Fusce bibendum sit amet nisl bibendum. Etiam sed augue euismod, viverra dolor eu, aliquet massa Aliquam accumsan sollicitudin luctus Nulla tempus quam felis.</p>
            <button class="btn btn-light rounded-pill px-4 start-journey-btn mb-4">Start Now</button>
          </div>
        </div>
        <div class="col-sm-7"></div>
      </div>
    </div>
  </div>
</div>
